<a href="https://colab.research.google.com/github/fabarroso/MVP-ML/blob/main/mvpml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MVP -  Machine Learning
Nome: Fabio de Andrade Barroso

Matricula:4052025000158

Dataset original: https://basedosdados.org/dataset/dbd717cb-7da8-4efd-9162-951a71694541?table=a2e9f998-e2c2-49b7-858a-ae1daef46dc0

**Segurança no Estado de São Paulo - Dados estatísticos da Secretaria de Segurança Pública do Estado de São Paulo.**

O dataset contém informações sobre ocorrências policiais no estado de São Paulo, com diversas variáveis relacionadas a diferentes tipos de crimes (homicídios, furtos, roubos, estupros, etc.) por município, mês e ano.

**Organização:**
Governo de São Paulo

**Cobertura temporal:**
2002 - 2021

1. Escopo, objetivo e definição do problema

2. Reprodutibilidade e ambiente
Especifique o ambiente. Por exemplo:

Bibliotecas usadas.
Seeds fixas para reprodutibilidade.

In [ ]:
## Carga de bibliotecas utilizadas
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from scipy.stats import chi2_contingency
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from scipy.stats import chi2_contingency
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

# Ajustando as configurações para exibir todas as colunas e linhas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.expand_frame_repr', False)

3. Dados: carga, entendimento e qualidade

In [26]:
##Carregamento dos Dados
# URL GitHub
url = 'https://raw.githubusercontent.com/fabarroso/dados_sp_gov_ssp/main/sp_gov_ssp.csv'

# Carregamento do dataset
df = pd.read_csv(url, delimiter=',', encoding='ISO-8859-1')

# Exibe as primeiras 10 linhas
df.head(10).style

In [27]:
# Substituindo valores NaN por um placeholder ("N/A") para evitar quebras no template
df.fillna('N/A', inplace=True)

# Melhorando a exibição da tabela com formatação de duas casas decimais
df.head(10).style \
    .format("{:.2f}")  # Aplica a formatação para duas casas decimais a todas as colunas numéricas
    .set_properties(**{'text-align': 'center', 'font-size': '12pt'}) \
    .set_table_styles([{
        'selector': 'thead th',
        'props': [('background-color', '#f2f2f2'), ('font-weight', 'bold'), ('text-align', 'center')]
    }, {
        'selector': 'tbody td',
        'props': [('border', '1px solid black')]
    }, {
        'selector': 'tbody tr:nth-child(odd)',
        'props': [('background-color', '#f9f9f9')]
    }, {
        'selector': 'tbody tr:nth-child(even)',
        'props': [('background-color', '#ffffff')]
    }])

IndentationError: unexpected indent (ipython-input-1853033285.py, line 7)

3.1 Análise exploratória (EDA)